# Archivos de Node.js
node_modules
.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de desarrollo
.vscode
.git
.gitignore
.eslintrc*
jest.config*
**/*.test.*
**/*.spec.*

# Variables de entorno locales
.env.local
.env.development
.env.test

# Archivos de Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentación
README.md
*.md

# Archivos temporales
*.log
*.tmp
tests/
coverage/
.nyc_output/